<html>
<head>
  <title>Chat-Bot</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/chatroom_style.css" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/static/js/chatscript.js"></script>
  <!-- <script src="/static/bootstrap/js/bootstrap.min.js"></script> -->
</head>
<body>
  <script type='text/javascript'>
  var groupId = <%- JSON.stringify(_id) %>;
  var users = <%- JSON.stringify(userlist) %>;
  console.log(users[0]);
</script>
<h1>Chat-Ninja</h1>
  <div id="myModal" class="modal">
    <div class = "username_form">
      <label>Enter a Nickname to join:</label>
      <input class ="username_input" type="text" placeholder="Nickname" required>
      <button class="submitname">Join Now!!</button>
    </div>
</div>
  <div class = "online_users one-third mobile-collapse">
    <h3 class="heading"><i class="more_menu">expand more</i> Online Users</h3>
    <ul class="users"></ul>
  </div>
    <div class = "chat_room two-third mobile-collapse">
      <div class="chat_head">
        <div class="redbutton">
        </div>
        <div class="yellowbutton">
        </div>
        <div class="greenbutton">
        </div>
        <h3>Chat</h3>
      </div>
      <div class="message_window">
        <ul class="message_list"></ul>
      </div>
      <div class="bottom_window">
          <form class="message_input_window">
            <input class="message_input" type=text placeholder="Type your message here"required>
            <button class="send_message">Send</button>
          </form>
      </div>
    </div>
</body>
</html>
