<html>
<head>
  <link rel="stylesheet" href="/static/css/mainpagestyle.css" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src = "/static/js/mainpagescript.js"></script>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <nav class="nav_menu">
    <div class="menu_container">
      <ul class="list_menu">
        <li class="menu_item">
          <a class="menu_item_link" href="/"><strong>Home</strong></a>
        </li>
        <li class="menu_item">
          <a class="menu_item_link" href="/about"><strong>About</strong></a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Chat Ninja, a multiroom chat window</h1>
  <div class="mainBody">
    <h1 class="description_text">
      Start a chat on your favourite topic!!!
    </h1>
    <form class="startGroupChat">
        <label>Enter a group name: </label>
        <input class="groupName" type="text" name = "groupChatName" required>
        <label>Enter a topic name: </label>
        <input class="topicName" type="text" name = "chatTopic" required>
        <button class="submitName" type="submit" name="Submit">Submit</button>
    </form>
    <h2>Available Chats:</h2>
      <ul class = "available_groups">
      </ul>
    </div>
  <!-- <div class="available_chat_template">
   <div class="chat_heading">
      <p class="chat_heading_text">Available Chats:</p>
        </div>
        <ul class="available_chats">
        </ul>
  </div> -->
</body>
</html>
