body{
    background: rgb(50, 50 , 50);
    font-family: Raleway;
}
.roomName{
  display: none;
}
h1{
  text-align: center;
  color: white;
  margin-top: 80px;
}
.modal{
  width: 50%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  /*border-radius: 4px;*/
  /*box-shadow: 1px 2px 3px rgba(0,0,0,0.2);*/
}
.username_form{
  width: 80%;
  margin: 20px auto;
}
label{
  font-weight: bold;
}
.username_input{
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 2%;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: Raleway;

}
.submitname{
  width: 50%;
  background-color: #E9724C;
  color: #fff;
  border: 0;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  font-family: Raleway;

}
.online_users{
  width: 15%;
  margin-left: 10%;
  margin-top: 20px;
  margin-right: 5%;
  margin-bottom: auto;
  background-color: #FAFAFA;
  float: left;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0);
  /*border-radius: 4px;*/
  /*box-shadow: 1px 2px 3px rgba(0,0,0,0.2);*/

}
.users{
  max-width: 100%;
}
.more_menu{
  display: none;
}
h3{
  text-align: center;
}
.redbutton{
  width: 16px;
  height: 16px;
  background: #f5886e;
  border-radius: 50%;
  float: left;
  margin: 0 5px 0 10px;
  vertical-align: middle;
  position: relative;
}
.yellowbutton{
  width: 16px;
  height: 16px;
  background: #fdbf68;
  border-radius: 50%;
  float: left;
  margin: 0 5px 0 5px;
  vertical-align: middle;
  position: relative;
}
.greenbutton{
  width: 16px;
  height: 16px;
  background:#a3d063;
  float: left;
  border-radius: 50%;
  margin: 0 5px 0 5px;
  vertical-align: middle;
  position: relative;
}
.list_username{
  padding: 5px;
  width: 80%;
  margin: 5px auto;
  background: #CCDBDC;
  color: #003366;
  border-radius: 2px;
  /*border: 1px solid rgba(0, 0, 0, 0);*/
  //border-bottom: 0.5px #E0E0E0 solid;
}
.chat_room{
  width: 60%;
  margin: 20px auto;
  background: #fafafa;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0);
  /*border-radius: 4px;*/
  /*box-shadow: 1px 2px 3px rgba(0,0,0,0.2);*/

}
.chat_head{
  max-width: 100%;
  background-color: #fafafa;
}

.message_window{
  max-width: 100%;
  height: 450px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #fff;
  overflow-y: auto;
}
.message_list{
  max-width: 100%;
}
.message{
  max-width: 80%;
  min-width: 20%;
  border-radius: 4px;
  margin:10px;
  padding: 10px;
  list-style-type: none;
}
.float-left{
  background: #CCDBDC;
  color: #003366;
  float: left;
  clear: both;
}
.float-left > .message_username{
  margin-left: 5px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}
.float-left > .text_wrapper{
  max-width: 100%;
  margin: 0px auto;
  display: block;

}
.float-right{
  float: right;
  background: #E9724C;
  color: white;
  clear: both;
}
.float-right > .message_username{
  margin-bottom: 10px;
  margin-right: 5px;
  text-align: right;
  font-weight: bold;
}
.float-right > .text_wrapper{
  max-width: 100%;
  margin: 2px auto;
  display: block;
}
.bottom_window{
  background: #fafafa;
  max-width: 100%;
}
.message_input{
  border: 1px solid #ddd;
  width: 60%;
  float: left;
  padding: 2%;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 2%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 16px;
}
.send_message{
  float: left;
  width: 20%;
  padding: 2%;
  margin-right: 5%;
  background: #156C50;
  /*border: 1px solid rgba(0, 0, 0, 0);*/
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-family: Raleway;
}
