
/*h1{
  text-align: center;
  font-family: sans-serif;
  color: white;
}*/
body{
  background-color: rgb(50, 50 , 50);
  font-family: Raleway;
}
.menu_container{
  background-color: #000;
  max-width: 1000px;
  margin: -10px auto;
  line-height: 40px;
}
.list_menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}
.menu_item{
  float: left;
}
.menu_item  .menu_item_link{
  display: inline;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.menu_item .menu_item_link:hover{
  background-color: #333;
}

h1{
  color: white;
  text-align: center;
}
.mainBody{
  max-width: 1000px;
  margin: 60px auto;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.description_text{
  color: #424242;
  text-align: center;
}
.startGroupChat{
  max-width: 500px;
  margin: 30px auto;
  display: block;
}
label{
  font-weight: bold;
}
.groupName{
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.topicName{
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.submitName{
    width: 35%;
   background: #555;
   color: #fff;
   border: 0;
   padding: 10px;
   font-size: 18px;
   margin: 0 auto;
   display: block;
   cursor: pointer;
   border-radius: 4px;
}
h2{
  text-align: center;
}
.list_groupName{
  max-width: 90%;
  padding: 10px 0 10px 0;
  background: #eee;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px auto;
  border-radius: 4px;
  cursor: pointer;
}
.spanleft{
  width: 30%;
  text-align: center;
  margin-left: 2%;
  float: left;
  cursor: pointer;
}
.spanmiddle{
  width: 30%;
  text-align: center;
  margin-left: 2%;
  float: left;
  cursor: pointer;
  vertical-align: middle;
}
.spanright{
  width: 30%;
  text-align: center;
  margin-left: 2%;
  float: left;
  cursor: pointer;
  vertical-align: middle;

}
a{
  color:black;
  padding: 1%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
/*@media (max-width: 1050px){
  .fullscreen-bg__video{
    display: block;
    position: relative;
    float: none;
    width: 800px;
    height: auto;
    margin: 0px auto;
  }
  .menu_container{
    width: 800px;
    margin: -10px auto;
  }
  .description{
    width: 700px;
    height: auto;
    margin: 65px auto;
  }
  .description_text{
    font-size: 40px;
  }
  .form_container{
    width: 600px;
    height: auto;
    margin: 30px auto;
  }
  .chat_heading_text{
    font-size: 40px;
  }
}

@media (max-width: 850px){
  .fullscreen-bg__video{
    display: block;
    position: relative;
    float: none;
    width: 600px;
    height: auto;
    margin: 0px auto;
  }
  .menu_container{
    width: 600px;
    margin: -10px auto;
  }
  .description{
    width: 500px;
    height: auto;
    margin: 50px auto;
  }
  .description_text{
    font-size: 25px;
  }
  .form_container{
    width: 400px;
    height: auto;
  }
  .chat_heading{
    width: 400px;
  }
  .chat_heading_text{
    font-size: 25px;
  }
}
@media (max-width: 620px){
  .fullscreen-bg__video{
    display: none;
  }
  .imagebackground{
    display: block;
    width: 100%;
  }
  .menu_container{
    width: 100%;
    margin: -10px auto;
  }
  .nav_menu{
    margin: 0 -10px 0 -10px;
  }
  .description{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .description_text{
    font-size: 20px;
  }
  .form_container{
    width: 80%;
    height: auto;
    margin: 0px auto;
  }
  .startGroupChat{
    padding-top: 10px;
    box-shadow: none;
  }
  .groupName{
    position: relative;
    float: none;
    display: block;
    width: 80%;
    height: auto;
    margin: 20px auto;
  }
  .submitName{
    position: relative;
    float: none;
    display: block;
    width: 60%;
    height: auto;
    margin: 0px auto;
  }
  .chat_heading{
    width: 60%;
    margin: 10px auto;
  }
}
@media (max-width: 560px){
  .chat_heading_text{
    margin: 0px auto;
  }
}*/


/*.available_chat_template{
  background-color: #000;
  width: 50%;
  height: 50%;
  margin: 20px auto;
  padding: 10px;
  color: white;
  z-index: 50;
  text-align: center;
}
h3{
  font-family: sans-serif;
}
.available_chats{
  list-style: none;
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
  overflow: scroll;
  color: white;
}
.available_chats .uniqueName{
  color: white;
}*/
